.App {
  display: flex;
  flex-flow: column nowrap;
  /* justify-content: center; */
  align-items: center;
  margin: 0px;
  
}

.Bgd {
  background-image: url("../../media/home-background.jpg");
  background-size: cover;
  height: 100%;
  
}